/*==================================================================================
[0] Buttons
==================================================================================*/
.btn {
    padding: .5rem 1.25rem;
    border-radius: var(--border-radius); 
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    height: var(--button-height);
}

.btn-action {
    background-color: var(--color-tertiary);
    box-shadow: var(--box-shadow-light);
}

.btn-action:hover {
    filter: brightness(.85);
    transition-duration: var(--transition-delay);
}


/*==================================================================================
[1] Inputs
==================================================================================*/
.input-field {
    height: var(--input-height);
    border: none;
    padding-left: var(--base-padding-margin);
    background: transparent;
    border-bottom: var(--border);
    font-size: 1rem;
    color: var(--color-font);
}

.input-length-1 {
    width: 300px;
}

.input-field::placeholder {
    font-size: .85em;
    color: var(--color-font-hover);
}


