/*==================================================================================
[0] General
==================================================================================*/
.btn {
    color: var(--light-primary);
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
    background: var(--theme-color-primary);
    text-align: center;
}


/*==================================================================================
[1] Navbar
==================================================================================*/
.brand-text {
    font-size: 1.5rem;
}

.hamburger-menu {
    flex-direction: column;
    gap: 4px;
    border: none;
    position: absolute;
    top: 41.5px;
    transform: translateY(-50%);
    right: var(--base-page-inset);
    background-color: transparent;
    display: none;
}

.hamburger-bar {
    height: 3px;
    width: 28px;
    background-color: var(--light-primary);
    border-radius: 8px;
}

.nav-link {
    padding: calc(var(--base-padding-margin)*.5);
}

.nav-link:hover {
    border-bottom: 1px solid var(--light-primary);
    margin-bottom: -1px;
}


/*==================================================================================
[2] Inputs
==================================================================================*/
.input-field {
    border: none;
    border-bottom: var(--border);
    background-color: transparent;
    height: var(--input-height);
    width: 100%;
    color: var(--light-primary);
}

.input-field::placeholder {
    color: var(--light-placeholder);
}


