/*==================================================================================
[0] Navbar
==================================================================================*/
.navbar-links {
    display: flex;
    column-gap: calc(var(--base-padding-margin)*2.5);
}

.nav-main-controller {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


/*==================================================================================
[1] Input Container
==================================================================================*/
.input-container {
    width: 100%;
}




