/*==================================================================================
[0] Navbar
==================================================================================*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    gap: var(--base-padding-margin);
    padding: 0 var(--base-padding-margin);
    border-bottom: var(--border);
    box-shadow: var(--box-shadow)
}


