/*=======================================================================================
[0] General
=======================================================================================*/


/*=======================================================================================
[1] Navbar
=======================================================================================*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--base-padding-margin)*1.5) 0;
    width: 100%;
}


/*=======================================================================================
[2] Forms
=======================================================================================*/
.general-container {
    width: 600px;
    height: max(450px, 65vh);
    border: var(--border);
    padding: var(--base-padding-margin);
}

