/*==================================================================================
[0] Containers
==================================================================================*/
.page-container {
    background: var(--bg-gradiant);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


