/*=======================================================================================
[0] Containers
=======================================================================================*/
.return-container {
    min-height: 100vh;
    padding: 0 var(--base-page-inset);
}


/*=======================================================================================
[1] Backgrounds
=======================================================================================*/
.bg-one {
    background: url("../assets/backgrounds/bg-one.png");
    background-position: center;
    background-size: cover;
}


