/*=======================================================================================
[0] Sections
=======================================================================================*/
.section-max-width {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.section-final {
    margin-bottom: 64px;
}

